---

---

<div class="flex h-screen items-center justify-center">
    <div class="max-w-60 shadow-lg">
        <div class="mb-4 rounded-t-lg bg-blue-500 p-2 text-center text-white">
            heading
        </div>
        <div class="m-3 text-center">
            <p class="m-auto my-4 w-fit rounded bg-black p-1 text-white">
                Most Popular
            </p>
            <div class="mb-5 flex justify-center">
                <span class="align-top">$</span>
                <span class="text-5xl font-semibold">0</span>
            </div>
            this Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur
            porro dicta perferendis? Adipisci minus magni veritatis tenetur recusandae
            enim iste aspernatur deserunt, delectus voluptatem commodi possimus!
            Exercitationem similique ipsa animi.
        </div>
        <div class="text-center">
            <button class="w-[60%] rounded-lg bg-slate-500 px-3 py-1 text-white"
                >button</button
            >
        </div>

        <div class="m-3 text-center">
            <ul>
                <li>feature 1</li>
                <li>feature 2</li>
                <li>feature 3</li>
            </ul>
        </div>
    </div>
</div>
