---
import { Icon } from "astro-icon/components";
---

<div class="flex h-screen items-center justify-center">
    <div class="max-w-[300px] shadow-lg shadow-purple-200">
        <div
            class="mb-4 rounded-t-lg bg-blue-500 p-2 text-center font-semibold capitalize text-white"
        >
            heading
        </div>
        <div class="m-3 text-center">
            <p class="m-auto my-4 w-fit rounded bg-black p-1 px-3 text-white">
                Most Popular
            </p>
            <div class="mb-1 flex justify-center">
                <span class="align-top">$</span>
                <span class="text-5xl font-semibold">0</span>
            </div>
            <h3 class="mb-2 text-xl font-semibold tracking-wide">
                Great For Starters
            </h3>
            <p class="m-auto w-[75%]">Create projects for multiple clients</p>
        </div>
        <div class="text-center">
            <button class="w-[60%] rounded-lg bg-slate-500 px-3 py-1 text-white"
                >button</button
            >
        </div>

        <div class="m-3 text-center">
            <ul class="flex flex-col gap-2">
                <li>
                    <Icon class="mr-1 inline-block" name="check" />Feature 1
                </li>
                <li>
                    <Icon name="crossed" class="mr-1 inline-block" /> feature 2
                </li>
                <li>feature 3</li>
            </ul>
        </div>
    </div>
</div>
<style>
    @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

    * {
        font-family: "Inter", sans-serif;
    }
</style>
