---
import Button from "./Button.astro";
import { Icon } from "astro-icon/components";

const {
    tier,
    most_popular,
    amount_per_month,
    title,
    description,
    btn_text,
    features,
} = Astro.props;

interface Props {
    tier: string;
    most_popular: boolean;
    amount_per_month: number;
    title: string;
    description: string;
    btn_text: string;
    features: {
        title: string;
        checked: boolean;
    }[];
}

const backGround =
    tier === "Free"
        ? "bg-white"
        : tier === "Pro"
          ? "bg-blue-500"
          : tier === "Enterprise"
            ? "bg-green-500"
            : "";

const textColor =
    tier === "Free"
        ? "text-black"
        : tier === "Pro"
          ? "text-white"
          : tier === "Enterprise"
            ? "text-white"
            : "";
---

<div
    class="flex min-h-[450px] max-w-[300px] flex-col justify-around shadow-lg shadow-purple-200"
>
    <div
        class="rounded-t-lg bg-blue-500 p-2 text-center font-semibold capitalize text-white"
    >
        heading
    </div>
    <div class="m-0 text-center">
        {
            most_popular && (
                <p class="m-auto w-fit rounded bg-black p-0.5 px-3 text-white">
                    Most Popular
                </p>
            )
        }

        <div class="mb-1 mt-5 flex justify-center">
            <span class="align-top">$</span>
            <span class="text-5xl font-semibold">0</span>
        </div>
        <h3 class="mb-2 text-xl font-semibold tracking-wide">
            Great For Starters
        </h3>
        <p class="m-auto w-[75%]">{description}</p>
    </div>
    <div class="text-center">
        <button
            class=`w-[65%]  border border-black px-3 py-1 rounded ${textColor}`
            >{btn_text}</button
        >
    </div>

    <div class="m-3 text-center">
        <ul class="flex flex-col gap-2">
            {
                features.map((feature) => (
                    <li>
                        <Icon
                            class="mr-1 inline-block"
                            name={feature.checked ? "check" : "crossed"}
                        />
                        {feature.title}
                    </li>
                ))
            }
        </ul>
    </div>
</div>
